.cart {
    position: absolute;
    z-index: 10;
    top: 1.5rem;
    right: 2.5rem;
    width: 500px;
    height: 700px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cart-contents {
    height: 80%;
    overflow-y: scroll;
}

.cart-contents::-webkit-scrollbar {
    width: 0.4em;
}

.cart-contents::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.cart-operations {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.cart-operations-empty {
    border: none;
    outline: none;
    padding: 7px;
    width: 175px;
    height: 75px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.cart-operations-empty:hover {
    transform: translateY(-1.5px);
}

.cart-operations-total {
    font-size: 32px;
    font-weight: 700;
    color: #000;
}