.Transaction-history {
    width: 80%;
    margin: 0 auto;
}

.transaction-element {
    width: 100%;
}

.Transaction-history-header {
    font-size: 38px;
    font-weight: 800;
    letter-spacing: 2.5px;
    text-align: center;
    margin: 25px auto;
    color: var(--main-icon-color);
}