.transaction {
    display: flex;
    justify-items: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.transaction-watch {
    display: flex;
    justify-content: space-between;
    width: 50%; /* 50% 40% 10%*/
    height: 100%;
    background: #fff;
    box-sizing: border-box;
}

.transaction-watch-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: var(--card-background-color);
    transition: .3s linear;
    overflow: hidden;
}

.transaction-watch-image img {
    width: 375px;
    transform: rotate(-30deg);
    transition: .9s linear;
}

.transaction-watch-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.transaction-watch-details-info-name {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    line-height: 1em;
    color: var(--card-header-name-color);
}

.transaction-watch-details-info-brand span {
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--card-header-brand-color);
}

.transaction-watch-details-info-description {
    max-width: 85%;
    margin-left: 15%;
    color: var(--card-header-description-color);
    font-size: 12px;
    margin-bottom: 28px;
    height: 25px;
    overflow: hidden; 
}

.transaction-watch-details-info-price {
    margin: 0;
    padding: 0;
    font-size: 2.3em;
    color: var(--card-header-price-color);
    text-align: center;
}

.transaction-client {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.transaction-client-details > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--card-header-description-color);
}

.transaction-client-name {
    text-transform: uppercase;
}

.transaction-client-picture {
    width: 150px;
    height: 150px;
}

.transaction-quantity {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    color: var(--card-header-description-color);
}
