.title{
    padding-top: 10%;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 8px black;
    font-size: 22px;
/*     
     font-family: "Montserrat";  */
}

body{
    background-image: url('https://images.unsplash.com/photo-1493898719456-b0e84bba5fcc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  object-fit: cover;
  max-width: 100%;
}